@media (max-width: 950px) {
  .navlinks {
    display: none;
  }
  .menubar {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  .navlinks {
    position: absolute;
    display: block;
    background: rgb(0, 0, 0);
    width: 100%;
    top: 3.8rem;
    left: 0;
    right: 0;
    /* transform: translateY(-150%); */
    z-index: -15;
    transition: all 0.4s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navlinks a {
    display: flex;
  }
}
@media (max-width: 500px) {
  .copyright {
    font-size: 0.7rem;
  }
}
