@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --gray-color: #e9ecec;
  --background-color: #f6f6f6;
  --font-family: "Roboto Slab", serif;
  --font-weight: bold;
  --main-color: #48a111;
  --secondary-color: #eeffeb99;
  --para-color: #5b5959;
  --h1-color: #000000;
  --black-color: #2c2c2c;
  --white-color: #ffffff;
}

/* Dark Vs Light Mode  */
.light_dark {
  align-items: center;
}
label[for="light"] {
  color: white;
}
label[for="dark"] {
  color: black;
}
.light_dark label {
  background-color: var(--main-color);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--font-family);
  text-align: center;
  cursor: pointer;
}
.dark-theme {
  background-color: black;
  color: white;
}
.light-theme {
  background-color: white;
  color: black;
}

/* Hero Section  */
.hero_section {
  width: 100%;
  min-height: 100vh;
  /* background-color: var(--background-color); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* navlink  */
/* menubar  */
.menubar {
  display: none;
  border: none;
  background-color: transparent;
}
.navlinks.show {
  transform: translateY(0) !important;
}

/* menubar  */
.nav-link_container {
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 1px 1px 15px #514f4f;
}
.navlinks {
  display: flex;
  justify-content: space-between;
}

.navlinks a {
  /* background: green; */
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  color: var(--main-color);
}
.active {
  background-color: var(--main-color);
  color: var(--white-color) !important;
}
.navlinks a:hover {
  color: var(--black-color) !important;
  background-color: var(--secondary-color);
  transition: all 0.3s;
  box-shadow: 1px 1px 15px var(--main-color);
}

.hero_card {
  width: 100%;
  /* background: blueviolet; */
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero_card div {
  flex: 1 1 350px;
  /* background: green; */
  padding: 0.5rem;
  font-family: var(--font-family);
}
.hero_card h4 {
  color: var(--main-color);
  margin: 1rem 0;
}
.hero_card h1 {
  font-weight: var(--font-weight);
  color: var(--main-color);
  margin: 1rem 0;
  text-shadow: 1px 1px 1px var(--black-color);
}
.hero_card p {
  color: var(--para-color);
  margin: 2rem 0;
}
.hero_card button {
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  width: 130px;
  margin: 0.5rem;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  border-color: var(--main-color);
  font-size: 1rem;
}
.hero_card .btn_1 {
  background-color: var(--main-color);
  color: var(--white-color);
  border: 1px solid var(--main-color);
}
.hero_card .btn_1:hover {
  background-color: var(--main-color);
  color: var(--black-color);
}
.hero_card .btn_2:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  box-shadow: 1px 1px 15px var(--secondary-color);
}
.hero_card .btn_1,
.btn_2:hover {
  transition: all 0.3s;
}
.hero_card .btn_2 {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.hero_card-img img {
  filter: drop-shadow(0 0 15px black);
}
/* home section  */
.about-title {
  text-align: center;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1rem;
  margin: 1rem 0;
  text-shadow: 1px 1px 1px var(--black-color);
}
.home-title {
  text-align: center;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1rem;
  margin: 1rem 0;
  text-shadow: 1px 1px 1px var(--black-color);
}
.home {
  width: 100%;

  /* background-color: greenyellow; */
  background-attachment: fixed;
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.home div {
  flex: 1 1 320px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  font-family: var(--font-family);
  border-radius: 0.5rem;
}
.home div h3 {
  margin: 1rem 0;
}
.home div p {
  color: var(--para-color);
}
/* about section  */
.about {
  width: 100%;
  /* min-height: 100vh; */
  /* background-color: blue; */
  padding: 2.5rem 3rem;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}
.about div {
  flex: 1 1 200px;
  border-radius: 0.5rem;
  font-family: var(--font-family);
}
.about div img {
  border-radius: 0.5rem;
}
.about div h3 {
  margin: 1rem 0;
  color: var(--main-color);
}
.about div p {
  color: var(--para-color);
}
.about div button {
  width: 120px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  margin: 1rem 0;
  background-color: var(--main-color);
  cursor: pointer;
  color: var(--white-color);
}
.about div button:hover {
  background-color: var(--secondary-color);
  color: var(--black-color);
  transition: all 0.3s;
  box-shadow: 1px 1px 15px var(--main-color);
}
/* service section  */
.service {
  width: 100%;
  /* background-color: var(--secondary-color); */
  background-attachment: fixed;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.service div {
  flex: 1 1 350px;
  padding: 1rem;
  font-family: var(--font-family);
}
.service div h4 {
  color: var(--main-color);
  margin: 1rem 0;
}
.service div h1 {
  color: var(--main-color);
}
.service div p {
  color: var(--para-color);
  margin: 1rem 0;
}
.service div button {
  width: 120px;
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--main-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1rem;
  color: var(--white-color);
  background-color: var(--main-color);
  cursor: pointer;
}
.service div button:hover {
  background-color: var(--secondary-color);
  transition: all 0.3s;
  box-shadow: 1px 1px 15px var(--main-color);
  color: var(--black-color);
}
.service-img img {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 15px var(--black-color);
}
/* contact section  */
.contact {
  width: 100%;
  min-height: 100vh;
  /* background-color: pink; */
  background-attachment: fixed;
}
